body {
    background: url("assets/image/newbackground.png") center;
    
   
    font-family: sans-serif;
    user-select: none;
  
   
}
#mainbox {
    z-index: 0;
    position: relative;
   top: 0;
   left: 400px;
    width: 500px;
    height: 700px;
    
    border-radius: 15px;
    background: #ffffff;
    user-select: none;
    box-shadow: 10px 10px 10px 10px grey;
    
}
#headbox {
    border-radius: 15px 15px 0px 0px  ;
   
   
    height: 50px;
    line-height: 48px;
    position: relative;
    border-bottom: gray solid 1px;
}
#progress {
    margin-left: 30px;
    float: left;
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    visibility: hidden;
}

#enableBackgroundMusic {
    position: absolute;
    left: 230px;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    background: url("assets/image/music.png") center no-repeat;
    background-color: aquamarine;
    background-size: 40px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 1px 0px 1px 0px grey;
}
#enableSoundEffects {
    left: 300px;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: Arial;
    background: url("assets/image/sound.png") center no-repeat;
    background-size: 50px;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    position: absolute;
    box-shadow: 1px 0px 1px 0px grey;
}
#numberOfHint {
    position: absolute;
    left: 380px;
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    visibility: hidden;
    border-radius: 30px;
    background-color: #ebdcdc;
    box-shadow: 1px 0px 1px 0px grey;
    
}
#celeb {
    height: 700px;
    width: 500px;
    position: absolute;
    top: 0px;
    opacity: 0.5;
    visibility: hidden;
    z-index: 2;
}
#cover {
    height: 700px;
    width: 500px;
    position: absolute;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
#bulb {
    position: absolute;
    
    left: 10px;
    width: 35px;
    height: 35px;
    top: 7px;
}
#numberOfHintLeft {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    left: 40px;

}



#contentncap {
    position: absolute;
    width: 500px;
    height: 649px;
    
    margin-top: 1px;
    visibility: hidden;
    
}


#caption {
    width: 500px;
    position: absolute;
    height: 70px;
    top: 52px;
    text-align: center;
    line-height: 69px;
    font-size: 50px;
    transition: opacity 1s;
}
#speaker {
    position: absolute;
    
    background-repeat: no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 30px;
    visibility: hidden;
    
    left: 30px;
    top: 20px;
    cursor: pointer;
    float: left;
    z-index: 1;
}
#questionHowMany {
    font-family: Arial;
    font-size: 25px;
    position: absolute;
    left:  70px;
    float: left;
}
.content {
    position: absolute;
    top:170px ;
    width: 500px;
    height: 300px;

    background-color: #ffffff;
    
}
#box {
    position: absolute;
    width: 450px;
    float: left;
    height: 240px;
    line-height: 100px;
    font-size: 40px;
    left: 25px;
    
    
    background-color: rgb(231, 177, 94);
    
    border-radius: 20px;box-shadow: 5px 5px 1px 0px grey;
    

}

#alertBox {
    width: 400px;
    height: 200px;
   
    
    background-color: #ffffff;
    left: 50px;
    border-radius: 20px;
    top: 15px;
  
    visibility: hidden;
    position: absolute;
    z-index: 2;
    border: 1px solid black;
    
   
  
}
#message {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 60px;
    text-align: center;
    font-size: 20px;

    line-height: 200px;
    left: 50px;
   
   
}
#next {
    margin-top: 120px;
    margin-left: 100px;
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;
  
}
#hintBox {
    top: 110px;
    left: 140px;
   position: absolute;
   
    width: 120px;
    height: 50px;
    background-color: aquamarine;
    visibility: hidden;
    font-family: Arial;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;

}
#xCross {
    position: absolute;
    top: -10px;
    left: 460px;
    width: 30px;
    height: 30px;
    background: url('assets/image/xCross.png');
    background-size: 30px;
    cursor: pointer;
    visibility: hidden;
    z-index: 20;
    
}

#denyBox {
    width: 120px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 120px;
    left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;
    visibility: hidden;
    
}
#wrongCross {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('assets/image/wrongCross.png') ;
    background-position: center;
    background-repeat: no-repeat;
    left: 150px;
    top: 30px;
    visibility: hidden;
   
    background-size: 0px;
    -webkit-transition: background-size 3s;
    z-index: 2 ;
}
#vTrue {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('assets/image/vtrue.png') ;
    background-position: center;
    background-repeat: no-repeat;
    left: 160px;
    top: 20px;
    visibility: hidden;
   
    background-size: 0px;
    -webkit-transition: background-size 3s;
    z-index: 3 ;
}
    
.row {
width: 450px;
height: 50px;
}
#row2 {
    margin-top: 50px;
}
#row3 {
    margin-top: 45px;
}
.plot {
    width: 45px;
    height: 45px;
    
    background-size: 45px;
    background-repeat: no-repeat;
    float: left;
}
#optionBox {
    width: 300px;
    height: 60px;
    border: black 1px solid;
    border-radius: 10px;
    top: 560px;
    
    position: absolute;
    z-index: 1;
    left: 100px;
    visibility: hidden;
    box-shadow: 5px 5px 1px 0px grey;
}
#refreshIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("assets/image/refresh.png") ;
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    left: 10px;
    top: 10px;
    
}
#hintIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("assets/image/bulb.png");
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    left: 120px;
    top: 5px;
}
#nextIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("assets/image/nextIcon.png");
    background-size: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 1px;
    right: 7px;
}


#answer {
    position: absolute;
    top: 450px;
    width: 500px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    text-align: center;
}
#numberOfFruitIs {
    height: 50px;
    position: absolute;
    left: 50px;
    float: left;
    font-family: Arial;
    font-size: 25px;
    line-height: 50px;
}
#theAnswerIs {
    position: absolute;
    
    left: 200px;
    height: 70px;
    width: 70px;

}
#input {
    position: absolute;
    left: 30px;
    height: 40px;
    width: 50px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
   

}
#confirm {
    position: absolute;
    height: 50px;
    width: 100px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    left: 350px;
    top: 0px;
    border: black 1px solid;
    cursor: pointer;
    box-shadow: 3px 3px 1px 0px grey;

}
#nameOfPicture {
    position: absolute;
    
    width: 520px;
    height: 50px;
    font-family: Arial;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    left: 0px;
    top: 500px;
    
    visibility: visible;
}




#startButton{
    position: absolute;
    top: 180px;
    z-index: 3;
    left:120px;
    cursor: pointer;
}