body {
    background: url("assets/newbackground.png") center;
   
    font-family: sans-serif;
    user-select: none;
    
   
   
}
.mainbox {
    z-index: 0;
    position: relative;
    margin: 15px auto 20px;
    width: 960px;
    min-height: 600px;
    border-radius: 15px;
    background: #ffffff;
    
}
.headbox {
    border-radius: 15px 15px 0px 0px  ;
   
    background: #ffffff;
    height: 48px;
    line-height: 48px;
    position: relative;
}
.back {
    height: 49px;
    width: 100px;
   
    float: left;
    border-top-left-radius: 15px;
    text-align: center;
    font-family: sans-serif;
    background-color: #ffffff;
}

#backButton {
    font-size: 18px;
    color: rgb(39, 125, 175);
    text-decoration: none;
}

.back .arrow-left {
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #246EA1 ;
    position: relative;
    border-radius: 50%;
}

.back .arrow-left::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -18px;
    top: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}



.progress {
    padding-top: 3px ;
    height: 23px;
    width: 560px;
    margin-left: 100px;
    margin-top: 5px;
    background-color: #f1dede;
    position: relative;
    border-radius: 10px;
}

#contentncap {
    padding-top: 10px;
    margin-top: 1px;
    visibility: visible;
    
}


#caption {
    width: 960px;
    position: relative;
    height: 70px;
    text-align: center;
    line-height: 69px;
    font-size: 50px;
    transition: opacity 1s;
}
#loa {
    background-image: url('assets/loadai.png');
    background-repeat: no-repeat; 
    width: 40px;
    height: 40px;
    background-size: 40px;
    margin-left: 100px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}
#cauHoi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    margin-left: 30px;
    float: left;
}
.content {
    width: 960px;
    height: 330px;

    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 30px;
}
.box {
    width: 600px;
    float: left;
    height: 300px;
    line-height: 100px;
    font-size: 40px;
    
    
    background-color: rgb(231, 177, 94);
    margin-left: 150px;
    border-radius: 20px;
    z-index: -1;

}
#alertBox {
    width: 600px;
    height: 300px;
   
    
    background-color: #ffffff;
    margin-left: 150px;
    border-radius: 20px;
  
    visibility: hidden;
    position: relative;
    z-index: 1;
   
  
}
#chucMung {
    position: absolute;
    width: 600px;
    height: 100px;
    border: black solid 2px;
    text-align: center;
    font-size: 30px;
    padding-top: 0px;
    line-height: 100px;
   
   
}
#next {
    margin-top: 120px;
    margin-left: 200px;
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;
    
    
    
}
#wrongCross {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('assets/wrongCross.png') ;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 350px;
    margin-top: 60px;
    visibility: hidden;
   
    background-size: 0px;
    -webkit-transition: background-size 4s;
    z-index: 2 ;
}
    
.row {
width: 600px;
height: 60px;
}
#row2 {
    margin-top: 50px;
}
#row3 {
    margin-top: 50px;
}
.plot {
    width: 60px;
    height: 60px;
    
    background-size: 60px;
    float: left;
}

#answer {
    width: 960px;
    height: 70px;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
}
#cauTraLoi {
    margin-left: 300px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#dapAn {
    float: left;
    margin-left: 5px;
    height: 70px;
    width: 70px;

}
#input {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}
#xacNhan {
    height: 50px;
    width: 100px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: aquamarine;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;

}





#startButton{
    position: absolute;
    top: 150px;
    z-index: 3;
    left: 345px;
    cursor: pointer;
}