body {
    background: url("assets/newbackground.png") center;
   
    font-family: sans-serif;
    user-select: none;
    
   
   
}
#mainbox {
    z-index: 0;
    position: relative;
    margin: 15px auto 20px;
    width: 1000px;
    min-height: 600px;
    border-radius: 15px;
    background: #ffffff;
    user-select: none;
    
}
#headbox {
    border-radius: 15px 15px 0px 0px  ;
   
   
    height: 50px;
    line-height: 48px;
    position: relative;
    border-bottom: gray solid 1px;
}
.back {
    height: 49px;
    width: 100px;
   
    float: left;
    border-top-left-radius: 15px;
    text-align: center;
    font-family: sans-serif;
    
}

#backButton {
    font-size: 18px;
   
    text-decoration: none;
}

.back .arrow-left {
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid black ;
    position: relative;
    border-radius: 50%;
}

.back .arrow-left::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -18px;
    top: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}

#enableBackgroundMusic {
    margin-left: 230px;
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px;
}
#enableSoundEffects {
    margin-left: 5px;
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px;
}
#numberOfHint {
    float: left;
    width: 240px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    
}
#bulb {
    float: left;
    margin-left: 90px;
    width: 50px;
    height: 50px;
}
#numberOfHintLeft {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    float: left;

}



#contentncap {
    padding-top: 10px;
    margin-top: 1px;
    visibility: visible;
    
}


#caption {
    width: 960px;
    position: relative;
    height: 70px;
    text-align: center;
    line-height: 69px;
    font-size: 50px;
    transition: opacity 1s;
}
#loa {
    background-image: url('assets/loadai.png');
    background-repeat: no-repeat; 
    width: 40px;
    height: 40px;
    background-size: 40px;
    margin-left: 100px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}
#cauHoi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    margin-left: 30px;
    float: left;
}
.content {
    width: 960px;
    height: 330px;

    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 30px;
}
#box {
    width: 600px;
    float: left;
    height: 300px;
    line-height: 100px;
    font-size: 40px;
    
    
    background-color: rgb(231, 177, 94);
    margin-left: 150px;
    border-radius: 20px;
    z-index: -1;

}

#alertBox {
    width: 400px;
    height: 200px;
   
    
    background-color: #ffffff;
    margin-left: 250px;
    border-radius: 20px;
  
    visibility: hidden;
    position: relative;
    z-index: 1;
    
   
  
}
#chucMung {
    position: absolute;
    width: 200px;
    height: 50px;
    
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
    line-height: 100px;
    margin-left: 100px;
   
   
}
#next {
    margin-top: 120px;
    margin-left: 100px;
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;
  
}
#hintBox {
    margin-top: 100px;
    margin-left: 100px;
   position: absolute;
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;

}
#wrongCross {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('assets/wrongCross.png') ;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 350px;
    margin-top: 60px;
    visibility: hidden;
   
    background-size: 0px;
    -webkit-transition: background-size 4s;
    z-index: 2 ;
}
    
.row {
width: 600px;
height: 60px;
}
#row2 {
    margin-top: 50px;
}
#row3 {
    margin-top: 50px;
}
.plot {
    width: 60px;
    height: 60px;
    
    background-size: 60px;
    float: left;
}
#optionBox {
    width: 60px;
    height: 300px;
    border: black 1px solid;
    border-radius: 10px;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 60px;
    visibility: hidden;
}
#refreshIcon {
    width: 60px;
    height: 60px;
    background-image: url("assets/refresh.png") ;
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 30px;
    
}
#hintIcon {
    width: 60px;
    height: 60px;
    background-image: url("assets/bulb.png");
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 30px;
}
#nextIcon {
    width: 60px;
    height: 60px;
    background-image: url("assets/nextIcon.png");
    background-size: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 30px;
}


#answer {
    width: 960px;
    height: 70px;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
}
#cauTraLoi {
    margin-left: 300px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#dapAn {
    float: left;
    margin-left: 5px;
    height: 70px;
    width: 70px;

}
#input {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}
#xacNhan {
    height: 50px;
    width: 100px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: aquamarine;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;

}





#startButton{
    position: absolute;
    top: 160px;
    z-index: 3;
    left: 355px;
    cursor: pointer;
}